@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 전역 설정 */

html, body {
    height: 100%;
}

* {
	font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.main_header {
    background-color: rgb(1, 12, 48);
}

/* 역정렬 관련 */

div.reverse_align {
    text-align: right;
}

/* 상단 내비게이션 관련 */

div.user_is_authenticated {
    justify-content: space-between !important;
    display: flex !important;
    vertical-align: middle;
    align-items: center !important;
    flex-wrap: nowrap;
}

#auth-username {
    color:aliceblue;
    margin-right: 10px;
}

/* Profiles 관련 */

div.profile_header {
    margin-bottom: 30px;
}

div.profile_rank {
    margin-top: 60px;
    margin-bottom: 30px;
}

div.profile_detail {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 400px;
    max-width: 900px;
    justify-content: space-between !important;
    display: flex !important;
}

div.profile_table_container {
    margin-top: 30px;
}

#profile_table > th, td {
    vertical-align: middle;
    font-size: small;
}

/* Todos 관련 */

div.todo_header {
    margin-bottom: 30px;
}

div.todo_body {
    margin-bottom: 15px;
}

div.todo_box {
    justify-content: space-between !important;
    display: flex !important;
    vertical-align: middle;
}

div.todo_box > h6 {
    text-align: left;
    font-weight: bold;
}

div.completed_todo {
    padding-block: 7px; 
    padding-inline: 15px; 
    margin-bottom: 10px; 
    text-align: left; 
    background: -webkit-linear-gradient(left, white, #263b79);
    vertical-align: middle;
}

div.not_completed_todo {
    padding-block: 7px; 
    padding-inline: 15px; 
    margin-bottom: 10px; 
    text-align: left; 
    background: -webkit-linear-gradient(left, white, #d5e0ff);
    vertical-align: middle;
}

/* Todo Detail, Form 관련 */

div.input_form {
    min-width: 400px;
    max-width: 900px;
}

div.input_item {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.input_button {
    margin-top: 5px;
}

div.todo_error > p {
    color: #b6316f;
}

div.button_list {
    flex-direction: row-reverse;
}

div.todo_detail {
    min-width: 400px;
    max-width: 900px;
}

div.todo_detail_item {
    justify-content: space-between !important;
    display: flex !important;
    margin-bottom: 10px;
}

.date_label {
    font-size: 14px;
}

div.todo_detail_bottom {
    margin-top: 40px;
}

/* 페이징 관련 */

div.pagination_button_list {
    justify-content: space-between !important;
    display: flex !important;
    vertical-align: middle;
    margin-bottom: 10px;
}

.btn-page {
    background-color: rgb(31, 59, 121);
    font-size: smaller;
    color:aliceblue;
}

.btn-page:hover {
    background-color: rgb(156, 186, 250);
    font-size: smaller;
    color:aliceblue;
}

.btn-page-disabled {
    background-color: rgb(66, 76, 97);
    font-size: smaller;
    color:aliceblue;
}

.btn-page-disabled:hover {
    background-color: rgb(66, 76, 97);
    font-size: smaller;
    color:aliceblue;
}