{% extends 'base.html' %}

{% block title %}To-Dolist{% endblock %}

{% block content %}
<div class="profile_header">
    <h2>Profile</h2>
    <p>당신의 계획력을 알아보고 주변에 알려봅시다</p>
</div>
<hr>

<div class="profile_detail">
    <div class="share_id" hidden>
        <span class="share_location">profiles</span>
        <span class="share_idx">profiles/{{ profile.id }}</span>
    </div>
    <div class="profile_detail_item">
        <h6>닉네임</h6>
        <p>{{ profile.username }}</p>
    </div>
    <div class="profile_detail_item">
        <h6>계획수</h6>
        <p>{{ profile.todo_count}}</p>
    </div>
    <div class="profile_detail_item">
        <h6>계획 완료수</h6>
        <p>{{ profile.todo_complete_count }}</p>
    </div>
    <div class="profile_detail_item">
        <h6>계획력 랭크</h6>
        <a class="user_rank" id="profile_rank-{{ profile.rank }}">{{ profile.rank }}</a>
    </div>
</div>
<hr>
<div style="margin-top: 10px;">
    <button type="button" class="w-100 btn btn-share" id="modalCallBtn">프로필 공유하기</button>
</div>

<div class="profile_rank">
    <h4>계획력 랭크 관련</h4>
    <p>여러분의 계획을 실행할 때마다 등급이 올라갑니다</p>
</div>
<hr>

<div class="profile_table_container">
    <table class="table" id="profile_table">
        <thead>
            <th>등급명</th>
            <th>설명</th>
            <th>계획</th>
            <th>완료</th>
        </thead>
        <tbody>
            <td><a id="profile_rank-BRONZE">BRONZE</a></td>
            <td>기본 등급입니다</td>
            <td>없음</td>
            <td>없음</td>
        </tbody>
        <tbody>
            <td><a id="profile_rank-SILVER">SILVER</a></td>
            <td>가볍게 시작해봅시다</td>
            <td>10</td>
            <td>5</td>
        </tbody>
        <tbody>
            <td><a id="profile_rank-GOLD">GOLD</a></td>
            <td>이 정도만 해도 대단하십니다</td>
            <td>30</td>
            <td>15</td>
        </tbody>
        <tbody>
            <td><a id="profile_rank-PLATINUM">PLATINUM</a></td>
            <td>계획적인 사람이라고 자랑하셔도 됩니다</td>
            <td>100</td>
            <td>50</td>
        </tbody>
        <tbody>
            <td><a id="profile_rank-DIAMOND">DIAMOND</a></td>
            <td>계획적이면서 근성도 있는 당신을 응원합니다</td>
            <td>200</td>
            <td>150</td>
        </tbody>
        <tbody>
            <td><a id="profile_rank-MASTER">MASTER</a></td>
            <td>당신을 계획 짜기의 마스터로 임명합니다</td>
            <td>400</td>
            <td>300</td>
        </tbody>
    </table>
</div>

<div class="profile_withdrawl">
    <h4>회원 탈퇴</h4>
    <div class="withdrawl_box">
        <p>회원 탈퇴를 원하신다면 언제든지 탈퇴가 가능합니다</p>
        <a class="btn btn-withdrawl" href="/withdrawl/">탈퇴하기</a>
    </div>
</div>

<!-- 모달 템플릿 -->
{% include 'share.html' %}

<!-- 모달 작동 로직 (Javascript) -->
{% load static %}
<script src="{% static '/js/share_modal.js' %}"></script>

{% endblock %}