<h1>ToDo detail</h1>

<p>

    {{ object.description }}

    <p>작성일자 : {{ object.created_at }}</p>
    <p>수정일자 : {{ object.modified_at }}</p>

    <p>완료 여부 : {{ object.is_complete }}</p>

    {% if object.get_previous %}
        <a href="{{ object.get_previous.get_absolute_url }}" title="이전 ToDo">&laquo;-- {{ object.get_previous }}</a>
    {% endif %}

    {% if object.get_next %}
        <a href="{{ object.get_next.get_absolute_url }}" title="다음 ToDo">--&raquo; {{ object.get_next }}</a>
    {% endif %}

</p>