{% extends 'base.html' %}

{% block title %}To-Dolist{% endblock %}

{% block content %}
<div class="todo_header">
    <h2>ToDo list</h2>
    <p>해야 할 일을 작성하고 일을 끝냈다면 완료 버튼을 눌러주세요!</p>
    <div>
        <a href="{% url 'todos:write' %}">
            <button type="button" class="w-100 btn btn-create">ToDo 작성</button>     
        </a>
    </div>
</div>

<div class="todo_body">
    <hr>
    
    {% for todo in todos %}
    {% if todo.is_complete%}
    <div class="p-6 rounded completed_todo">
    {% else %}
    <div class="p-6 rounded not_completed_todo">
    {% endif %}
        <div class="todo_box">
            <small>{{ todo.created_at | date:"y-m-d"}}</small>
            <a href='{{ todo.get_absolute_url }}'>
                <h6>{{ todo.title }}</h6>
            </a>
            <div class="button_list">    
                {% if todo.owner == user %}

                {% if todo.is_complete %}
                <a class="btn btn-completed">완료</a>
                {% else %}
                <form method="post" action="{% url 'todos:complete' todo.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-complete">완료</button>
                </form>                    
                {% endif %}  
                
                <form method="post" action="{% url 'todos:delete' todo.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-delete">삭제</button>
                </form>  
                <a href="{% url 'todos:modify' todo.id %}">
                    <button type="button" class="btn btn-update">수정</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div> 
    {% endfor %}
</div>

<div class="d-flex justify-content-center">
    <ul class="pagination justify-content-center"></ul>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">
                    <button type="button" class="btn btn-page">Previous</button>
                </a>

            {% endif %}

            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">
                    <button type="button" class="btn btn-page">Next</button>
                </a>
            {% endif %}
        </span>
    </ul>
</div>

{% endblock %}