{% extends 'base.html' %}

{% block title %}To-Dolist{% endblock %}

{% block content %}

<div class="todo_detail">
    <div class="share_id" hidden>
        <span class="share_location">todos</span>
        <span class="share_idx">todos/share/{{ object.id }}</span>
    </div>
    <div class="todo_detail_item">
        {% if object.owner == user %}
        {% if object.is_complete%}
        <a class="btn btn-completed">완료됨</a>
        {% else %}
        <form id="todo_complete_detail" method="post" action="./complete?path={{ object.id }}">
            {% csrf_token %}
            <button type="submit" form="todo_complete_detail" class="btn btn-complete">완료하기</a>
        </form>
        {% endif %}
        {% else %}
        {% if object.is_complete%}
        <a class="btn btn-completed">완료됨</a>
        {% else %}
        <a class="btn btn-complete">완료되지 않음</a>
        {% endif %}
        {% endif %}
    </div>
    <div class="todo_detail_item">
        <label class="detail_label">
            <h5>제목 : {{ object.title }}</h5>
        </label>
        <div class="reverse_align">
            <label class="date_label">
                <b>작성일자</b>
                {{ object.created_at | date:"y-m-d" }}
            </label>
            <label class="date_label">
                <b>수정일자</b>
                {{ object.modified_at | date:"y-m-d" }}            
            </label>
        </div>
    </div>
    <div class="todo_detail_item">
        <textarea class="form-control" rows="10" id="description" name="description" readonly>{{ todo.description }}</textarea>
    </div>
    <div class="reverse_align">
        {% if object.owner == user %}
        <div class="input_button">
            <a class="w-100 btn btn-update-large" href="./modify/">수정</a>
        </div>
        <div class="input_button">
            <form id="todo_delete_detail" method="post" action="./delete/">
                {% csrf_token %}
                <button type="submit" form="todo_delete_detail" class="w-100 btn btn-delete-large">삭제</button>
            </form>
        </div>
        {% endif %}
        <div class="input_button">
            <button type="button" class="w-100 btn btn-share" id="modalCallBtn">공유하기</button>
        </div>
        <div class="input_button">
            <a class="w-100 btn btn-create" href="/todos/write">당신의 계획력을 올리고 싶다면 클릭하세요</a>
        </div>
    </div>
    <div class="todo_detail_bottom">
        <hr>
    </div>
</div>

<!-- 모달 템플릿 -->
{% include 'share.html' %}

<!-- 모달 작동 로직 (Javascript) -->
{% load static %}
<script src="{% static '/js/share_modal.js' %}"></script>

{% endblock %}