{% extends 'base.html' %}

{% block title %}To-Dolist{% endblock %}

{% block content %}
<div class="todo_header">
    <h1>ToDo list</h1>
    <p>해야 할 일을 작성하고 일을 끝냈다면 완료 버튼을 눌러주세요!</p>
    <a href="{% url 'todos:write' %}">
        <button type="button" class="btn btn-create">ToDo 작성</button>
    </a>
</div>

<div class="todo_body">
    {% for todo in todos %}
    {% if todo.is_complete%}
    <div class="p-6 rounded" style="padding-block: 15px; padding-inline: 15px; margin-bottom: 10px; text-align: left; background-color: #8195d3;">
    {% else %}
    <div class="p-6 rounded" style="padding-block: 15px; padding-inline: 15px; margin-bottom: 10px; text-align: left; background-color: #f0f4ff;">
    {% endif %}
        <div class="todo_box">
            <small>{{ todo.created_at | date:"y-m-d"}}</small>
            <a href='{{ todo.get_absolute_url }}'>
                <h6>{{ todo.description }}</h6>
            </a>
            <div class="button_list">    
                {% if todo.owner == user %}
                
                <a href="./{{ todo.id }}/modify/">
                    <button type="button" class="btn btn-update">수정</button>
                </a>
                <a href="./{{ todo.id }}/delete/">
                    <button type="button" class="btn btn-delete">삭제</button>
                </a>
                
                {% if todo.is_complete %}
                    <button type="button" class="btn btn-complete">완료</button>
                {% else %}
                <a href="./{{ todo.id }}/complete/">
                    <button type="button" class="btn btn-complete">완료</button>
                </a>
                {% endif %}    
                {% endif %}
            </div>
        </div>
    </div> 
    {% endfor %}
</div>

<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">
                <button type="button" class="btn btn-page">Previous</button>
            </a>

        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                <button type="button" class="btn btn-page">Next</button>
            </a>
        {% endif %}
    </span>
</div>

{% endblock %}