<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no"/>

    <title>{% block title %}회원가입{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    {% load static %}
    {% load widget_tweaks %} <!--class, attr 속성 추가용-->
    {% load account socialaccount %} <!--소셜 로그인용-->
    <link rel="stylesheet" href="{% static 'css/layout.css' %}?after">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}?after">
    <link rel="stylesheet" href="{% static 'css/button.css' %}?after">

</head>

<!--allauth의 socialaccount/login 템플릿 오버라이딩-->
<!--allauth socialaccount/login template GitHub : https://github.com/pennersr/django-allauth/blob/master/allauth/templates/socialaccount/login.html -->

<body class="text-center">

    <main class="form-signin w-100 m-auto">
        <form method="post">
            {% csrf_token %}
            <h5>카카오 로그인을 진행하려고 합니다. 동의하십니까?</h5>
            <br>
            <div>
                <button class="w-100 btn btn-join" type="submit">진행</button>
            </div>            
        </form>
        <a class="w-100 btn btn-cancel" href="/accounts/login/">취소</a>
    </main>

</body>
