@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 전역 설정 */

* {
	font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.main_header {
    background-color: rgb(1, 12, 48);
}

/* 역정렬 관련 */

div.reverse_align {
    text-align: right;
}


/* Todos 관련 */

div.todo_header {
    margin-bottom: 30px;
}

div.todo_body {
    margin-bottom: 15px;
}

div.todo_box {
    justify-content: space-between !important;
    display: flex !important;
    vertical-align: middle;
}

div.todo_box > h6 {
    text-align: left;
    font-weight: bold;
}

div.button_list {
    flex-direction: row-reverse;
}

div.completed_todo {
    padding-block: 7px; 
    padding-inline: 15px; 
    margin-bottom: 10px; 
    text-align: left; 
    background: -webkit-linear-gradient(left, white, #263b79);
    vertical-align: middle;
}

div.not_completed_todo {
    padding-block: 7px; 
    padding-inline: 15px; 
    margin-bottom: 10px; 
    text-align: left; 
    background: -webkit-linear-gradient(left, white, #d5e0ff);
    vertical-align: middle;
}


/* Todo Detail, Form 관련 */

div.input_form {
    min-width: 400px;
    max-width: 900px;
}

div.input_item {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.input_button {
    margin-top: 5px;
}

div.todo_error > p {
    color: #b6316f;
}

div.button_list {
    flex-direction: row-reverse;
}

div.todo_detail {
    min-width: 400px;
    max-width: 900px;
}

div.todo_detail_item {
    justify-content: space-between !important;
    display: flex !important;
    margin-bottom: 10px;
}

.date_label {
    font-size: 14px;
}

div.todo_detail_bottom {
    margin-top: 40px;
}


/* 버튼 관련 */

.btn-create {
    background-color: rgb(31, 59, 121);
    color:aliceblue;
}

.btn-create:hover {
    background-color: rgb(156, 186, 250);
    color:aliceblue;
}

.btn-update {
    background-color: rgb(36, 23, 82);
    color:aliceblue;
    font-size: small;
}

.btn-update:hover {
    background-color: rgb(83, 64, 153);
    color:aliceblue;
    font-size: small;
}

.btn-delete {
    background-color: rgb(90, 8, 72);
    color:aliceblue;
    font-size: small;
}

.btn-delete:hover {
    background-color: rgb(175, 16, 141);
    color:aliceblue;
    font-size: small;
}

.btn-complete {
    background-color: rgb(9, 94, 128);
    color:aliceblue;
    font-size: small;
}

.btn-complete:hover {
    background-color: rgb(77, 202, 252);
    color:aliceblue;
    font-size: small;
}

.btn-completed {
    background-color: rgb(5, 37, 49);
    color:aliceblue;
    font-size: small;
}

.btn-completed:hover {
    background-color: rgb(5, 37, 49);
    color:aliceblue;
    font-size: small;
}

.btn-create > a:link {
    color : white;
    text-decoration: none;
}

.btn-create > a:visited {
    color : white;
    text-decoration: none;
}

.btn-create > a:hover {
    color : white;
    text-decoration: none;
}

.btn-create > a:active {
    color : white;
    text-decoration: none;
}

.btn-cancel {
    background-color: rgb(80, 0, 33);
    color:aliceblue;
}

.btn-cancel:hover {
    background-color: rgb(136, 31, 75);
    color:aliceblue;
}

.btn-login {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 33, 61);
}

.btn-login:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 33, 61);
}


/* 페이징 관련 */

div.pagination_button_list {
    justify-content: space-between !important;
    display: flex !important;
    vertical-align: middle;
    margin-bottom: 10px;
}

.btn-page {
    background-color: rgb(31, 59, 121);
    font-size: smaller;
    color:aliceblue;
}

.btn-page:hover {
    background-color: rgb(156, 186, 250);
    font-size: smaller;
    color:aliceblue;
}

.btn-page-disabled {
    background-color: rgb(66, 76, 97);
    font-size: smaller;
    color:aliceblue;
}

.btn-page-disabled:hover {
    background-color: rgb(66, 76, 97);
    font-size: smaller;
    color:aliceblue;
}